{{page-title "Locations"}}

<h2>Locations</h2>

<StarMap @locations={{@model}} @key="locations" />

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Position</th>
  </tr>
  </thead>
  <tbody>
  {{#each @model as |location| }}
    <tr>
      <td>
        <LinkTo @route="locations.get" @model={{location}}>
          {{location.name}}
        </LinkTo>
      </td>
      <td>
        <Position @position={{location.position}} />
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

