<h2>Ships</h2>

<button class="btn btn-info btn-sm" type="button" {{on "click" this.refreshList}}>Refresh</button>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Destination</th>
  </tr>
  </thead>
  <tbody>
  {{#each @model as |ship| }}
    <tr>
      <td>
        <LinkTo @route="ships.get" @model={{ship}}>
          {{ship.name}}
        </LinkTo>
      </td>
      <td>
        {{ship.currentLocation.name}}
        ({{ship.currentPosition.x}},{{ship.currentPosition.y}})
      </td>
      <td>
        {{#if ship.isStationary}}
          -
        {{else}}
          {{ship.destinationLocation.name}}
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>