{{! template-lint-disable no-invalid-interactive }}
<div
  class="StarMap"
  {{on "mousemove" this.handleMouseMove}}
  {{on "mouseleave" this.handleMouseLeave}}
>
  <svg version="1.1"
       baseProfile="full"
       viewBox={{this.viewBox}}
       xmlns="http://www.w3.org/2000/svg"
       role="img"
       aria-label="A star map of the solar system"
       font-size={{this.fontSize}}
  >
    {{#each @locations as |location| }}
      <StarMapLocation
        @scale={{this.scale}}
        @label={{location.name}}
        @color={{location.color}}
        @position={{location.position}}
        @primaryBodyPosition={{location.primaryBodyPosition}}
        @distanceFromPrimaryBody={{location.distanceFromPrimaryBody}}
      />
    {{/each}}

    {{#if @ship}}
      <StarMapShip @scale={{this.scale}} @ship={{@ship}} />
    {{/if}}
  </svg>

  <div class="StarMap__scale-controls">
    <button class="btn btn-sm btn-light" aria-label="Zoom in" type="button" {{on "click" this.zoomIn}}>+</button>
    <button class="btn btn-sm btn-light" aria-label="Zoom out" type="button" {{on "click" this.zoomOut}}>-</button>
  </div>
  <div class="StarMap__scale" aria-label="Scale">{{this.scale}} S.U.</div>
  {{#if this.mousePosition}}
    <div class="StarMap__coordinates" aria-label="Coordinates">
      <span aria-label="X coordinate">X: {{this.truncate this.mousePosition.x}}</span>
      <span aria-label="Y coordinate">Y: {{this.truncate this.mousePosition.y}}</span>
    </div>
  {{/if}}
</div>
